@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

.hamburger {
  position: relative;
  width: 56px;
  height: 40px;
  top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 50;
  border: 1px solid var(--lightWhite);
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 9px;
  align-items: center;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 72%;
  border-radius: 20px;
  background-color: var(--lightWhite);
  transition: all 0.4s ease;
  transform-origin: center;
}

/* Animate to X */

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    transition: left 0.3s ease-in-out;
    z-index: 40;
    
} */

.mobile-nav h3 {
  font-size: 27.55px;
}

/* .mobile-menu {
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.7s ease, opacity 0.3s ease;
}

.mobile-menu.open {
  max-height: 480px;
  opacity: 1;
  pointer-events: auto;
} */

.mobile-menu {
  background-color: var(--blue);
  color: var(--white);
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 28px;
  text-align: left;
  z-index: 40;
  height: 100vh;
  opacity: 0;

  pointer-events: none;
  transition: all 0.4s ease;
}

.mobile-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

/* links inside the menu */
.mobile-menu a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  width: 100%;
  /* margin: 6px 0 0 33px; */
  font-weight: 400;
  color: var(--white);
  padding: 8px 0;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.mobile-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 24px;
  transition: all 0.4s ease;

  background-color: var(--blue);
}

.mobile-nav img,
.desktop-logo img,
.footer-text img {
  font-family: var(--primary-font);
  width: 100%;
  max-width: 170px;
}

/* .mobile-menu a {
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.mobile-menu a:hover {
  background-color: #374151;
} */

.mobile-menu.open {
  top: 100%;
}

.desktop-logo,
.contact-wrapper {
  display: none;
}

.header-dropdown-btn {
  background: transparent;
  font-family: var(--secondary-font);
  font-size: 18px;
  padding: 0;
  font-weight: 400;
}

.contact-wrapper .contact-logo {
  animation: zoom 1s ease-in-out infinite;
}

@keyframes zoom {
  0% {
    transform: scaleX(1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.5, 1.5, 1.5) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.5, 1.5, 1.5) rotate(-3deg);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes shake {
  0% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

/* HomePage */
.home-page {
  /* padding-top: 100px; */
  /* padding-top: 70px; */
  padding-top: 53px;

}

.home-page.remove-gap {
  padding-top: 0 !important;
}


/* Splide slider */

.splideImage {
  width: 100%;
  /* height: 780px; */
  max-width: 100%;
  aspect-ratio: 2 / 2.7;
  /* aspect-ratio: 2 / 2; */
  object-fit: cover;
  /* object-fit: cover;
    aspect-ratio: 5 / 4; */
}

.splideSlider {
  /* position: relative; */
  width: 100%;
  /* object-fit: cover; */
}

.splideSlider::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.splide-text {
  position: absolute;
  z-index: 1;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.splide-text .display-1-p {

  padding: 0 32px;
}

.splide-text h6 {
  color: var(--green);
}

.splide-text h1 {
  font-size: 28px;
  color: var(--white);
}

.splide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
  /* EXACT width */
  height: 54px;
  /* EXACT height */
  background: #1d47ff;
  /* EXACT color from screenshot */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  /* align-items: center;
  background: var(--blue);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  opacity: 0.9;
  padding: 0;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  width: 90px;
  z-index: 1;
  transition: all 0.4s ease; */
}

.splide__arrow:hover {
  background-color: var(--green);
}

.splide__arrow svg {
  fill: var(--white);

  width: 26px !important;
  height: 26px !important;

  /* fill: none !important; */
  /* stroke-width: 3px !important; */
  /* thin arrow */
}

.splide__arrow--prev {
  left: 0;
  /* border-top-right-radius: 35%;
  border-bottom-right-radius: 35%; */
  border-radius: 0 90px 90px 0;
  height: 60px;
  width: 90px;
  transition: all 0.4s ease;
}

.splide__arrow--next {
  right: 0;
  /* border-top-left-radius: 35%;
  border-bottom-left-radius: 35%; */
  border-radius: 90px 0 0 90px;
  height: 60px;
  width: 90px;
  transition: all 0.4s ease;
}

.splide-buttons {
  flex-direction: row;
}

.splide-buttons .primary-button,
.secondary-button {
  padding: 9px 17px !important;
}

.splide__pagination {
  display: none;
  gap: 20px;
  bottom: 20px;
}

.splide__pagination__page {
  background: var(--blue);
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linea;
  width: 30px;
}

.splide__pagination__page:hover {
  background-color: var(--green);
}

.splide__pagination__page.is-active {
  background: var(--blue);
  transform: scale(1);
}

/* counter */

.counter-section {
  background-color: var(--green);
}

.counter-cards {
  padding: 50px 25px;
  gap: 15px;
}

.counter-cards h2 {
  color: var(--blue);
  font-size: 28.5px;
  font-weight: 600;
  font-family: var(--primary-font);
}

.counter-card {
  flex-direction: column;
  align-items: center;
  gap: 1px;
  text-align: center;

}


.counter-card:nth-child(1),
.counter-card:nth-child(2),
.counter-card:nth-child(3) {
  border-bottom: 1px solid var(--lightWhite);
  padding-bottom: 26px;
}


.counter-cards p {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  font-family: var(--primary-font);
  line-height: 1.2;
}

/* About Cards */

.about-section {
  margin: 50px 0;
  padding: 90px 0;
}

.about-section .custom-container {
  max-width: 476px;
  padding: 0 25px;
}

.about-card {
  gap: 95px;
}

.about-img {
  position: relative;
  width: 100%;
}

.about-img img {
  width: 78%;
  max-width: 100%;
  border-radius: 8px;
}

/* .about-img img {
    width: 65%;
    max-width: 65%;
    border-radius: 8px;
} */

.aboutImgOne {
  transform: translateY(-40px);
}

.aboutImg2 {
  position: absolute;
  width: 100%;
  top: 34%;
  left: 22%;
  transform: translateY(40px);
}

.about-card h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
  font-family: var(--primary-font);
}

.about-card h2 {
  font-size: 29px;
  font-weight: 600;
  font-family: var(--primary-font);
  line-height: 1.2;
}

.about-card-text p {
  color: var(--lightGray);
}

.about-card .primary-button {
  color: var(--white);
  padding: 16px 48px !important;
}

/* services section */

.services-section {
  margin: 0 0 50px 0;
  padding: 0 0 90px 0;
}

.services-title .cards-h2 {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 5px;
}

.services-cards {
  gap: 48px;
  padding: 0 12px;
}

.services-card {
  /* width: 29.8%; */
  position: relative;
  text-align: center;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  padding: 24px;
  background-color: var(--borderWhite);
  transition: all 0.4s ease;
  z-index: 1;
}

.services-card svg {
  font-size: 121px;
  color: var(--blue);
}

.services-card .primary-button {
  color: var(--white);
}

.services-card .primary-button:hover {
  background-color: var(--lightGreen);
  border-color: var(--borderGreen);
}

.services-card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  background-color: var(--blue);
  top: 0;
  left: 0;
  transition: all 0.4s ease;
  z-index: -1;
  border-radius: 12px;
}

.services-card:hover::before {
  height: 100%;
}

.services-card:hover .cards-p,
.services-card:hover .cards-h4 {
  color: var(--white);
}

.services-card:hover svg {
  color: var(--green);
}

/* project section */

.project-section {
  margin: 0 0 50px 0;
  padding: 0 0 90px 0;
}

.project-cards {
  gap: 41px;
  padding: 0 6px;
}

.project-card {
  position: relative;
  transition: all 0.5s ease;
  padding: 19px;
}

.project-card img {
  border-radius: 12px;
}

.project-card::before {
  display: none;
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: 4px;
  left: 4px;
  background: var(--green);
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease 0s;
  transform: translateY(-70px);
}

.project-card.in-view::before {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;

  transition-duration: 0.5s;
}

.project-card.in-view::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;

  transition-duration: 0.5s;
}

.project-card::after {
  display: none;
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  right: 4px;
  bottom: 4px;
  background: var(--blue);
  border-radius: 10px;
  opacity: 1;
  z-index: -1;
  transform: translateY(70px);
  transition: all 0.5s ease;
}

.project-card-text {
  opacity: 1;
  transition: all 0.5s ease;
  position: absolute;
  inset: 0;
  /* top:0 left:0 width:100% height:100% */
  display: flex;
  justify-content: center;
  /* ❗ Center horizontally */
  align-items: center;
  /* ❗ Center vertically */
  text-align: center;
}

.project-card-text .cards-h4 {
  font-size: 18px !important;
  margin-bottom: 10px;
}

.project-card-text a {
  /* display: none; */
  /* padding: 25px 25px;
  background: var(--blue);
  border-radius: 10px;
  position: absolute;
  top: 95px;
  left: 88px;
  text-align: center; */

  display: inline-block;
  padding: 20px;
  background: var(--blue);
  border-radius: 10px;
}

.project-card:nth-child(2) a {
  top: 95px;
  left: 70px;
}

.project-card:nth-child(4) a {
  left: 47px;
}

.project-card:nth-child(5) a {
  left: 50px;
}

.project-card:nth-child(6) a {
  left: 42px;
}

.project-section .cards-h4 {
  color: var(--green);
}

.project-section .cards-p {
  color: var(--white);
  font-size: 14px;
}

.project-card:hover::before,
.project-card:hover::after {
  opacity: 0;
  transition-delay: 0s;
}

.project-card:hover .project-card-text {
  opacity: 1;
}

/* blog section */

.blog-section {
  margin: 0 0 50px 0;
  padding: 0 0 90px 0;
}

.blog-cards {
  gap: 70px;
  padding: 0 10px;
}

.blog-card {
  position: relative;
  background-color: var(--borderWhite);
}

.blog-card>img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}

.blog-details {
  margin-top: -47px;
  /* padding: 0 16px 40px 16px; */
}

.blog-card-text {
  padding: 0 16px 10px 16px;
}

.blog-card-button {
  padding: 0 10px;
  color: var(--white);
  gap: 19px;
}

.blog-card-text .cards-h5 {
  color: var(--black);
}

.blog-card-tags a {
  font-size: 18px;
}

.blog-card>span {
  position: absolute;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 12px;
  padding: 16px 24px;
  top: -32px;
  right: 19px;
  transition: all 0.4s ease;
}

.blog-card-subtext {
  padding: 10px 24px;
  background-color: var(--blue);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.blog-card-subtext p a {
  color: var(--white);
  font-weight: 400;
}

.blog-card-subtext svg {
  color: var(--green);
}

.blog-primary-btn {
  width: 100%;
}

.blog-button-group {
  position: relative;
  width: 100%;
  color: var(--white);
  overflow: hidden;
}

.blog-button-group .primary-button-small {
  padding: 14px 12px !important;
}

.blog-icons-1 {
  opacity: 0;
  position: relative;
  transition: 1s;
  right: 0;
  color: var(--white);
  font-size: 16px;
}

.blog-icons-1 svg {
  margin-left: 10px;
}



.blog-icons-2 {
  display: flex;
  /* gap: 11px; */
  gap: 0;
  position: absolute;
  top: 10px;
  left: 3px;
  transition: 1s;
  color: var(--white);


}

.blog-icons-2 a svg {
  font-size: 18px;
}

.blog-icons-2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.4s ease;
}

.blog-icons-2 a:hover {
  border-radius: 50%;
  background-color: var(--white);
  color: var(--green);
}

.blog-button-group:hover .blog-icons-1 {
  top: 0;
  right: -140px;
  transition: 1s;
}

.blog-button-group:hover .blog-icons-2 {
  transition: 1s;
  left: 10px;
  padding-bottom: 5px;
}

/* team section */

.team-section {
  margin: 0 0 50px 0;
  padding: 0 0 90px 0;
}

.team-section .custom-container {
  max-width: 570px;
  padding: 0 25px;
  padding-top: 50px;
}

.team-splideSlider {
  background-color: var(--borderWhite);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* .team-slider-content{
    position: relative;
} */

.team-slider-slides {
  padding: 50px;
  position: relative;
}

.team-slider-slides::before {
  width: 100%;
  height: 200px;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  background: var(--green);
  clip-path: polygon(0 0, 100% 0, 100% 10%, 66% 55%, 33% 55%, 0 13%);
  padding: 60px;
  opacity: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.team-spildeImg {
  padding: 10px;
  position: relative;
  border-radius: 50%;
  outline: 15px solid var(--white);
  margin-top: 21px;

}

.team-splideImage {
  border-radius: 50%;
  outline: 10px solid var(--green);
  transition: all 0.4s ease;
}

.team-slider-content:hover .team-splideImage {
  transform: scale(1.04);
}

.team-splide-text .cards-h4 {
  transition: all 0.4s ease;
}

.team-slider-content:hover .team-splide-text .cards-h4 {
  color: var(--blue);
}

.team-slider .splide__arrows {
  position: relative;
  top: -43px;
  left: -37px;
  /* left: -255px; */
}

.team-slider .splide__arrow {
  width: 56px;
  height: 56px;
  background-color: var(--green);
}

.team-slider .splide__arrow:hover {
  background-color: var(--blue);
}

.team-slider .splide__arrow--prev {
  right: 105px;
  left: unset;
  border-radius: 50%;
}

.team-slider .splide__arrow--next {
  right: 35px;
  left: unset;
  border-radius: 50%;
}

.team-slider .splide__arrow svg {
  width: 16px;
  height: 16px;

  fill: var(--white);

  /* thin white arrow */
}

/* testimonial section */

.testimonial-section {
  margin: 0 0 50px 0;
  padding: 0 0 90px 0;
}

.testimonial-content .custom-container {
  padding: 0 12px;
}

.testimonial-splideSlider {
  border: 1px solid var(--darkWhite);
  background-color: var(--gray);
}

.testimonial-content .splide__slide {
  background-color: var(--gray);
  /* transition: 0.5s ease; */
}

.testimonial-splide-text .cards-h4 {
  color: var(--green);
}

.testimonial-description {
  border-top: 1px solid var(--darkWhite);
}

.testimonial-rating {
  color: var(--blue);
}

.testimonial-content .splide__slide.is-active {
  background-color: var(--white);
  transition: background-color 0.3s ease;
}

.testimonial-section .splide__pagination {
  gap: 5px;
  bottom: -51px;
}

.testimonial-section .splide__pagination__page {
  width: 15px;
  height: 15px;
  background-color: var(--sliderWhite);
  transition: all 0.5s ease;
  opacity: 1;
}

.testimonial-section .splide__pagination__page.is-active {
  background-color: var(--blue);
  width: 32px;
  border-radius: 9px;
}

/* contact form section */

.contact-section {}

.contact-title .cards-p {
  max-width: 585px;
  margin: 0 auto;
}

.contact-title .cards-p a {
  font-size: 16px;
  font-weight: 400;
  color: var(--blue);
}

.contact-form-section,
.contact-map,
.form {
  position: relative;
  padding: 20px;
}

.contact-form-section {
  padding-bottom: 120px;
}

.contact-form-section::before {
  position: absolute;
  content: "";
  height: 55.5%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, 0.3)),
    url(../images/formBg.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 10px;
  z-index: -1;
}

.contact-form-link {
  background-color: var(--borderWhite);
}

.contact-form-text .cards-h4 {
  color: var(--blue);
}

.contact-form-text .cards-h5 {
  color: var(--black);
}

.contact-map,
.form {
  background-color: var(--green);
}

.contact-form {
  gap: 48px;
}

iframe {
  width: 100%;
  height: 156px;
}

.contact-form .contact-map,
.contact-form .form {
  width: 100%;
}

/* About page */
.image-hero-card {
  padding: 48px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/carousel1.jpg) center center no-repeat;
  background-size: cover;
  height: 350px;
}



.image-hero-card-text {
  padding: 106px 0;
}

.image-hero-card h1 {
  font-size: 37.50px;
}

.image-hero-card-bg {
  background: url(../images/carousel1.jpg);
  width: 100%;
  height: 100%;
}

.image-hero-card-text .cards-p a {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

.image-hero-card-links span {
  color: var(--white);
}

/* Form message */
.no-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  padding: 50px 40px 20px 40px;
  border-radius: 12px;
  min-width: 50%;
  text-align: center;
  position: relative;
  animation: popIn 0.3s ease;
  height: 40%;
  top: 36px;
}

.popup-close-btn {
  position: absolute;
  right: 12px;
  top: 8px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--red);
}

.popup-box h3,
p {
  color: var(--green);
}

.popup-box h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 24px;
}

.popup-box p {
  font-size: 18px;
  padding-top: 30px;
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* error mesesage for form */

.error-text {
  color: var(--red);
  margin-top: -16px;
  margin-bottom: 20px;
}

/* services Page */

.services-page-wrapper .services-content,
.projects-page-wrapper .project-content,
.blog-page-wrapper .blog-content,
.testimonial-page-wrapper .testimonial-content,
.team-page-wrapper .team-content,
.contact-page-wrapper .contact-content {
  margin-top: 88px;
  padding-top: 50px;
  /* margin-bottom: 88px; */
}

.contact-page-wrapper .contact-content {
  margin-bottom: 88px;
}

/* Footer */

.footer .custom-container {
  max-width: 269px;
}

.footer {
  background-color: var(--black);
  font-family: var(--primary-font);
}

.footer-upper-section {
  padding-bottom: 45px;
  border-bottom: 1px solid var(--borderWhite);
}

/* .footer-below-section p{
    font-weight: 400;
} */

.footer-text {
  max-width: 100%;
  /* max-width: 250px; */
  font-size: 16px;
}

.footer-text h3 {
  font-size: 27.55px;
  /* font-size: 37.55px; */
  font-weight: 700;
  margin-top: 18px;
}

.footer-text>p {
  padding-top: 20px;
}

.footer-links:nth-child(2),
.footer-links:nth-child(3),
.footer-links:nth-child(4) {
  margin-top: 48px;
}

.footer-links span {
  font-size: 22px;
  font-weight: 600;
}

.footer p,
.footer p a {
  color: var(--white);
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 400;
  /* font-weight: 600; */
}

.footer-link p a, .footer-links .contact-links .contact-link p a {
  transition: all 0.4s ease;
}

.footer-link p a:hover, .footer-links .contact-links .contact-link p a:hover {
  letter-spacing: 1px;
}

.footer-socials a,
.team-socials a,
.contact-form-link p a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  transition: all 0.4s ease;
}

.contact-form-link p a {
  background-color: var(--green);
  color: var(--white);
  width: 50px;
  height: 50px;
}

.contact-form-link p a svg {
  font-size: 18px;
  margin: 0;
}

.contact-form-link {
  flex-direction: column;
}

/* error page */
.error-component-card {
  padding: 92px 12px;
  margin: 48px 0;
}

.error-component-card .errorIcon {
  font-size: 80px;
  color: var(--blue);
}

.error-component-card .display-1-h1 {
  font-size: 40px;
}

.error-component-card .primary-button {
  background-color: var(--blue);
  color: var(--white);
}

.error-component-card .primary-button:hover {
  background-color: var(--green);
}

.footer-socials a:hover {
  background-color: var(--green);
  animation: bubble 0.3s ease;
}

.team-socials a {
  background-color: var(--green);
}

.team-socials .social-icons {
  color: var(--white);
}

.footer-socials .social-icons {
  color: var(--blue);
}

.footer-link a svg,
.contact-link a svg {
  font-size: 14px;
  color: var(--green);
  margin-left: -4px;
}

.contact-link p {
  border-bottom: 1px solid var(--blue);
}

/* fade animation */

/* normal fade in effect */
/* .fade-element {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.fade-visible {
  opacity: 1;
} */

/* Base for all scroll elements */


.counter-animate {
  opacity: 1 !important;
}

/* Fades only */
.fade-in {
  opacity: 1;
}

/* Base hidden state for ALL scroll elements */
.scroll-animate {
  opacity: 0;
  /* transform: translateY(20px); */
  transition: all 0.8s ease-out;
}

/* Directions */
/* .fade-in { transform: translateY(0); } */

.slide-up {
  transform: translateY(40px);
}

.slide-down {
  transform: translateY(-40px);
}

.slide-left {
  transform: translateX(40px);
}

.slide-right {
  transform: translateX(-40px);
}

/* Final state when animated */
.animated {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}


/* slides animation */




.slides-up {
  opacity: 1;
  transform: translateY(40px);
}

.slides-up.slide-animate {
  /* opacity: 1; */
  transform: translateY(0px);
  /* opacity: 0; */
}


.slides-down {
  opacity: 1;
  transform: translateY(-40px);
}

.slides-down.slide-animate {
  transform: translateY(0px);
  /* opacity: 1; */
}


.slides-left {
  opacity: 1;
  transform: translateX(0);

}

.slide-left.slide-animate {
  /* opacity: 1; */
  transform: translateX(-40px);
}


.slides-right {
  opacity: 1;
  transform: translateX(0);
}

.slides-right.slides-animate {
  transform: translateX(40px);
  /* opacity: 1; */
}


.slide-animate {
  /* opacity: 1; */
  transition: all 0.8s ease-out;
  will-change: transform, opacity;
}

/* hiding the texts */
.splide__slide:not(.is-active) .slide-animate {
  opacity: 0 !important;

  transition: none !important;
}


.splide__slide:not(.is-active) .animate__animated {
  opacity: 0 !important;
  visibility: hidden !important;

}


.splide__slide.is-active .slide-animate {
  visibility: visible;
}

.splide__pagination__page.is-active:hover {
  background-color: var(--green);
}



/* .fade-element {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

.fade-visible {
  opacity: 1;
  transform: translateY(0);
} */

/* top section above header */

.topbar-wrapper {
  display: none;
  background-color: var(--black);
  padding-bottom: 8px;
}

.topbar-wrapper .custom-container {
  padding: 0 8px;
}

.topbar-left-section,
.topbar-right-section {
  background-color: var(--black);
}

.topbar-left-section p {
  color: var(--lightWhite);
}

.topbar-left-section svg {
  margin-right: 6px;
}

.topbar-right-section a{
  transition: all 0.4s ease;
}

.topbar-right-section a:hover {
  color: var(--green);
}

.ticker-lane {
  height: 20px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ticker-text {
  position: absolute;
  left: 100%;
  white-space: nowrap !important;
  color: var(--green);
  font-weight: 500;
  animation: ticker 10s linear infinite;
  /* animation: ticker 5s cubic-bezier(0.09, 0.6, 0.5, 1) infinite; */
}

.topbar-icons {
  color: var(--green);
}

.topbar-right-section {
  gap: 10px;
}

.topbar-right-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--white);
  transition: all 0.4s ease;
  color: var(--blue);
}

@keyframes ticker {
  0% {
    left: 100%;
  }

  100% {
    left: -70%;
  }
}

/* Scroll to Top btn */
.scroll-to-top {
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 9999;
  opacity: 0.85;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.scroll-to-top:hover {
  opacity: 1;
  transform: translateY(-4px);
}

/* Smooth fade-in effect */
.scroll-to-top {
  animation: fadeInUp 0.4s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .topbar-left-section {
 
    background-color: var(--black);
}

.topbar-right-section {
  
    width: 16%;
    padding: 13px;
    background-color: var(--black);
}



.ticker-text {
    position: absolute;
  
    top: 9px;
    left: 0;
    text-align: right;
    animation: ticker 5s cubic-bezier(0.09, 0.6, 0.5, 1) infinite;

    color: #00ff7f;
    z-index: 1;
    font-weight: 500;

}

@keyframes ticker {
    0% {
        left: 0%;

    }


    100% {
        left: 100%;

    }


} */

/* animation */

@keyframes bubble {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.98);
  }
}

/* css for header drop down */
.nav-link {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.dropdown-menu {
  width: 160px;
  z-index: 3;
  margin-top: 20px;
}


.dropdown-menu li:first-child,
.dropdown-menu li:first-child a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.dropdown-menu li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-menu li:last-child a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-menu li:first-child a:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.dropdown-menu li:last-child a:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.dropdown-menu li a {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 0px;

}

.dropdown-menu li:hover {
  background-color: var(--gray);

}



/* accordion section */

.accordion-section {
  margin: 100px 0;
  padding-bottom: 20px;
}

.accordion-section .custom-container {
  margin: 0 auto;
}



.accordions {
  position: relative;
  transition: all 0.4s ease;
  border-bottom: 1px solid var(--gray);
  width: 98%;
}

.accordions button {
  transition: all 0.4s ease;
  border: none;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s ease;
}


.accordion-title {
  background-color: var(--white);
  color: var(--blue);

  /* transition: all 0.4s ease; */
  font-size: 20px;
  font-weight: 600;
  padding: 25px 28px 25px 0;
  transition: all 0.5s ease;
}

.accordion-open {
  padding: 50px 20px;
  background-color: var(--blue);
  font-size: 18px;
  transition: all 0.5s ease;
  color: var(--white);
}

.accordions span {
  /* transition: all 0.5s ease; */
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.4s ease;
  will-change: max-height, opacity;
}

.accordion-content.open {
  max-height: 1000px;
  opacity: 1;
}



.accordion-inner {
  padding: 20px 0;
  /* background-color: var(--darkBlueText); */
  color: var(--lightGray);
  font-size: 18px;
  transition: all 0.4s ease;
}

.custom-arrow-faq {
  position: absolute;
  top: 30px;
  right: 15px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  transform: rotate(45deg);
  transition: all 0.4s ease;
}

.custom-arrow-faq.open {
  transform: rotate(-135deg);
}


@media (min-width: 320px) and (max-width: 768px) {

  .services-section .custom-container,
  .project-section .custom-container,
  .blog-section .custom-container,
  .testimonial-section .custom-container,
  .accordion-section .custom-container {
    max-width: 540px;
    padding: 0 27px;
  }

  .contact-section>.custom-container {
    max-width: 540px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .contact-section>.custom-container {
    padding-bottom: 90px;
  }
}

@media (min-width: 375px) {
  /* .team-section .custom-container {
        max-width: 375px;
        padding-top: 50px;
    } */

  .team-slider .splide__arrows {
    top: -54px;
    left: -75px;
  }

  .splide-text {
    top: -62px;
  }

  .splide-text .display-1-p {

    padding: 0;
  }
}

@media (min-width: 425px) {
  /* hero section */



  .splideImage {
    aspect-ratio: 2/2;
  }

  .splide-buttons .primary-button,
  .secondary-button {
    padding: 16px 48px !important;
  }

  .primary-button,
  .secondary-button {
    padding: 16px 48px !important;
  }

  .splide-buttons {
    flex-direction: row;
  }

  .splide-buttons .btn {
    /* padding: 6px 12px !important; */
  }

  .splide__pagination {
    display: flex;

  }

  .splide-text .display-1-h1 {
    max-width: 307px;
  }

  /* about section */
  .about-card {
    gap: 135px;
  }

  /* blog section */

  .blog-card-button {
    padding: 0 16px;
    gap: 27px;
  }

  .blog-icons-2 {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .primary-button-small {
    padding: 14px 12px !important;
    background-color: var(--green);
  }

  /* .primary-button-small {
        padding: 14px 18px !important;
        background-color: var(--green);
    } */

  /* team section */
  /* .team-section .custom-container {
        max-width: 425px;
        padding: 0 27px;
        padding-top: 50px;
    } */

  .team-slider .splide__arrows {
    top: -54px;
    left: -106px;
  }

  /* project section */

  .project-card-text .cards-h4 {
    font-size: 24px !important;
    margin-bottom: 20px;
  }

  .project-card-text a {
    padding: 20px 25px;
  }

  .project-section .cards-p {
    font-size: 16px;
  }

  /* contact section */

  .contact-form-section,
  .contact-map,
  .form {
    padding: 40px;
  }

  .contact-form-section::before {
    height: 53.2%;
  }

  .contact-form {
    gap: 90px;
  }

  .contact-form-link p a {
    width: 64px;
    height: 64px;
  }

  .contact-form-link {
    flex-direction: row;
  }

  /* footer */
  .footer .custom-container {
    max-width: 456px;
  }
}

@media (min-width:500px) {
  .splide-text .display-1-p {
    max-width: 300px;
  }
}

/* 576px */

@media (min-width: 576px) {
  .custom-container {
    max-width: 720px;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    padding: 8px 24px;
  }

  .mobile-nav h3 {
    font-size: 33.44px;
  }

  /* hero section */
  .splideImage {
    aspect-ratio: 2 / 1.4;
  }

  .splide-text .display-1-h1 {
    max-width: 450px;
    font-size: 40px;
  }

  /* about section */
  .about-section .custom-container {
    max-width: 520px;
  }

  .about-card-text h2 {
    font-size: 34.51px;
  }

  /* team section */
  .team-section .custom-container {
    max-width: 576px;
    padding: 0 27px;
    padding-top: 50px;
  }

  .team-slider .splide__arrows {
    top: -55px;
    left: -167px;
  }

  /* contact section */
  .contact-form-section {
    padding-bottom: 150px;
  }

  .contact-form-section,
  .contact-map,
  .form {
    padding: 48px;
  }

  .primary-form-button {
    padding: 16px 48px !important;
    font-size: 16px;
  }

  /* footer */
  .footer .custom-container {
    max-width: 520px;
  }

  .footer-links span {
    font-size: 28px;
    font-weight: 600;
  }
}

@media (min-width: 525px) {
  .blog-button-group .primary-button-small {
    padding: 14px 15px !important;
  }

  .blog-button-group:hover .blog-icons-2 {
    left: 21%;
  }
}

@media (min-width: 720px) {
  .mobile-menu a {
    /* padding-left: 20px; */
  }
}

@media (min-width: 768px) {

  /* topbar */
  .topbar-wrapper {
    display: block;
  }

  .ticker-lane {
    opacity: 0;
  }

  /* navbar */
  .mobile-menu a {
    padding-left: 20px !important;
  }

  .header--scrolled {
    margin-top: -48px;
  }

  /* hero section */
  .splideImage {
    aspect-ratio: unset;
  }

  .splide-text h1 {
    font-size: 40px;
  }

  .display-1-p {
    font-size: 16px;
    max-width: 660px;
  }

  .splide-text .display-1-h1 {
    max-width: 650px;
    font-size: 33px;
  }

  .splide-text .display-1-p {
    max-width: 600px;
  }

  /* about section */
  .about-section .custom-container {
    max-width: 720px;
  }

  .aboutImg2 {

    top: 13%;

  }

  /* team section */
  .team-section .custom-container {
    max-width: 720px;
    padding: 0 27px;
    padding-top: 50px;
  }

  .about-card {
    gap: 0;
  }

  .about-img img {
    width: 65%;
    max-width: 65%;
    border-radius: 8px;
  }

  .about-img {
    position: relative;
    width: 58%;
  }

  .about-card-text {
    width: 50%;
  }

  /* blog section */


  .blog-cards {
    gap: 75px;
  }

  .blog-button-group:hover .blog-icons-1 {
    top: 0;
    right: -209px;
    transition: 1.3s;
  }

  .blog-button-group:hover .blog-icons-2 {
    left: 27%;
    gap: 20px;
    transition: 1.3s;
  }

  .blog-icons-2 {
    gap: 50px;
    transition: 1.3s;
  }

  /* team section */

  .team-slider .splide__arrows {
    top: -55px;
    left: -237px;
  }

  /* contact section */
  .contact-form-section {
    padding-bottom: 146px;
  }

  .contact-form-section::before {
    height: 50.2%;
  }

  /* footer */

  .footer .custom-container {
    max-width: 667px;
  }

  .footer-text {
    max-width: 350px;
  }

  .footer-links:nth-child(2) {
    margin: 0;
  }

  .footer-text h3 {
    font-size: 33.55px;
    font-weight: 700;
  }
}

@media (min-width: 991px) {
  .custom-container {
    max-width: 960px;
  }

  .mobile-menu a {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-navbar,
  .desktop-logo {
    display: block;
  }

  .desktop-nav {
    display: flex;
    padding: 8px 20px 18px 0;
  }

  .desktop-nav h3,
  .footer-text h3 {
    font-size: 37.55px;
    font-weight: 700;
  }

  .desktop-navbar .nav-links {
    display: flex;
    padding: 6px 0 0 0;
  }

  .nav-links a {
    font-size: 18px;
    font-weight: 400;
    padding-top: 1px;
    /* letter-spacing: 0.1px; */
  }

  /* hero section */


  .splide-text .display-1-h1 {
    max-width: 800px;
    font-size: 40px;
  }

  /* counter */

  .counter-cards {
    flex-direction: row;
  }

  .counter-card:nth-child(1),
  .counter-card:nth-child(2),
  .counter-card:nth-child(3) {
    border: 0;
    padding: 0;
  }

  .counter-cards h2 {
    font-size: 40px;
    margin-top: -11px;
  }

  /* about section */
  .about-section .custom-container,
  .team-section .custom-container {
    max-width: 960px;
  }

  .team-section .custom-container {
    padding-top: 0;
  }

  .team-slider-slides::before {
    width: 91%;
  }

  /* about section */
  .aboutImg2 {

    top: 25%;

  }

  .about-img {
    position: relative;
    width: 43.5%;
  }

  .about-img img {
    width: 68%;
    max-width: 100%;
    border-radius: 8px;
  }

  /* blog section */
  .blog-card-button {
    padding: 0 10px;
  }

  .blog-button-group:hover .blog-icons-2 {
    left: 16%;
  }

  .blog-icons-2 {
    gap: 30px;
  }


  /* team section */
  .team-slider .splide__arrows {
    top: -68px;
    left: unset;
  }

  /* contact form */
  .contact-form-section {
    padding: 48px;
    padding-bottom: 146px;
  }

  .contact-form {
    gap: 48px;
  }

  iframe {
    width: 310px;
    height: 100%;
  }

  .contact-form-details {
    gap: 5px;
  }

  .contact-form-link {

    width: 48% !important;
  }

  .contact-form-link:first-child {
    margin-right: 28px;
  }

  .contact-form-section::before {
    height: 53.2%;
  }

  /* footer */
  .footer .custom-container {
    max-width: 960px;
  }

  .footer-links:nth-child(3),
  .footer-links:nth-child(4) {
    margin-top: 0;
  }

  .footer-text {
    max-width: 250px;
    font-size: 16px;
  }

  .footer-links span {
    font-size: 28px;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {

  /* hero section */
  .splide-text .display-1-h1 {
    max-width: 800px;
    font-size: 72px;
  }

  /* .splide-text h1 {
    font-size: 80px;
    max-width: 888px;
  } */

  .display-1-p {
    font-size: 20px !important;
    max-width: 660px !important;
  }

  /* counter */
  .counter-cards {
    gap: 31px;
  }

  /* About section */

  .about-card-text {
    width: 55%;
  }

  .about-card h5,
  .cards-h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--blue);
    font-family: var(--primary-font);
  }

  .about-card h2,
  .cards-h2 {
    font-size: 40px;
    font-weight: 600;
    font-family: var(--primary-font);
    line-height: 1.2;
  }

  /* project section */
  .project-card-text a {
    padding: 15px;
  }

  .project-card-text .cards-h4 {
    font-size: 20px !important;
    margin-bottom: 20px;
  }

  /* blog section */
  .blog-cards {
    gap: 48px;
  }

  .blog-card-button {
    gap: 14px;
  }

  .blog-icons-2 {
    gap: 4px;
    left: -3px;
  }

  .blog-button-group:hover .blog-icons-2 {
    left: 6%;
    gap: 4px;
  }

  /* contact form */
  input {
    padding: 16px 12px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  /* About Page */
  .image-hero-card {
    height: 450px;
  }

  .image-hero-card h1 {
    font-size: 72px;
  }

  /* error page */
  .error-component-card .display-1-h1 {
    font-size: 80px;
  }

  .error-component-card .display-1-h2 {
    font-size: 40px;
  }

  .error-component-card .cards-p {
    max-width: 550px;
  }
}

@media (min-width: 1200px) {

  .home-page {
    padding-top: 65px;
  }

  .custom-container {
    max-width: 1140px;
  }

  .ticker-lane {
    opacity: 1;
  }

  .desktop-nav {
    width: 67.2%;
    /* width: 68.09%; */
    /* width: 67.65%; */
    /* width: 68.5%; */
    /* padding: 7px 20px 18px 0; */
    /* padding: 7px 10px 18px 0; */
    padding: 7px 10px 6px 0;
  }

  .desktop-navbar {
    /* padding: 9px 12px 3px 12px; */
    padding: 3px 12px 3px 12px;

    /* padding: 7.5px 3.5px; */
    /* justify-content: space-between; */
    display: flex;
    /* gap: 68px; */
    gap: 78px;
    margin: 0 auto;
  }

  .desktop-navbar,
  .desktop-logo {
    /* display: block; */
    margin-top: -2px;
  }

  .desktop-navbar .nav-links {
    display: flex;
    padding: 4px 0 0 0;
    margin-top: -4px;
    /* margin-top: -10px; */
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    letter-spacing: 0.1px;
    padding-top: 1px;
  }

  .nav-links a:last-child {
    margin-left: -6px;
  }

  .desktop-navbar h3 {
    font-size: 40px;
  }

  .desktop-navbar h3 span {
    color: var(--green);
  }

  .contact-wrapper {
    display: flex;
    /* margin-top: -5px; */
    margin-top: 2px;
  }

  .contact-details {
    border-right: 1px solid var(--white);
    margin: 0px 16px 0 5px;
    padding-right: 25px;
  }

  .contact-details> p{
    color: var(--lightWhite);
  }

  .contact-wrapper .contact-details span a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }


  .contact-form-link:first-child {
    margin-right: 0;
  }

  .contact-form-link {
    width: 30% !important;
  }

  .contact-details p {
    font-size: 16px;
  }

  .contact-form-section::before {
    height: 46.2%;
  }


  .search-icon {
    width: 32px;
    height: 32px;
  }

  /* hero section */
  .splide-text .display-1-h1 {
    max-width: 888px !important;
    font-size: 80px !important;
  }

  /* counter */
  .counter-section .custom-container {
    max-width: 1140px;
  }

  .counter-cards {
    padding: 50px 10px;
  }

  /* about section */
  .about-section .custom-container {
    max-width: 476px;
    padding: 0 12px;
  }

  .about-section .custom-container,
  .team-section .custom-container {
    max-width: 1140px;
  }

  /* blog section */
  .blog-card-button {
    padding: 0 16px;
  }

  .blog-card-button {
    gap: 27px;
  }

  .blog-icons-1 {
    opacity: 1;
  }

  .blog-icons-2 {
    gap: 11px;
    left: -130px;
  }

  .blog-button-group:hover .blog-icons-2 {
    /* left: 5.5%; */
    left: -1%;
  }

  /* team section */
  .team-section .custom-container {
    padding: 0 17px;
  }

  .team-slider-slides::before {
    width: 100%;
  }


  /* project section */

  .project-card-text {
    opacity: 0;
    transition: all 0.5s ease;
  }

  .project-card::before,
  .project-card::after {
    display: block;
  }

  .project-card-text .cards-h4 {
    font-size: 24px !important;
    margin-bottom: 20px;
  }

  .project-card-text a {
    padding: 20px 25px;
  }

  .project-section .cards-p {
    font-size: 16px;
  }

  /* contact form section */

  .contact-section .custom-container {
    max-width: 1116px;
  }

  iframe {
    width: 400px;
  }

  /* About page */
  .page-Bg {
    aspect-ratio: 3 / 1;
    object-fit: cover;
    width: 100%;
  }

  /* footer */
  .footer .custom-container {
    max-width: 1140px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .footer-text h3 {
    font-size: 40px;
  }

  .footer-description p {
    padding-top: 20px;
  }

  .footer-details {
    margin-right: 40px;
  }

  .footer-links:nth-child(2) {
    margin-right: 40px;
  }

  .footer-links:nth-child(3) {
    margin-right: 50px;
  }
}


@media (min-width:1440px) {
  .custom-container {
    max-width: 1320px !important;
  }

  .contact-form-link {
    width: 31% !important;
  }

  iframe {
    width: 100%;
  }
}